<body class="box-border w-screen text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl bg-bg">
  <div class="max-w-full min-h-screen flex flex-col">
    <%- include('./partials/header.ejs') %>
    <div class="flex justify-center p-10 font-ralewayB">
      <div class="flex flex-col text-center">
        <div class="flex items-center justify-center gap-2">
          <h1 class= "text-4xl text-red"><%= category.name %></h1>
          <div class="flex justify-center gap-2">
            <a href="<%= category.url + '/update' %>">
                <span class="iconify" data-icon="clarity:edit-solid" style="color: #b9233e;" data-width="32" data-height="32"></span>
            </a>
            <a href="<%= category.url + '/delete' %>">
                <span class="iconify" data-icon="bi:trash" style="color: #b9233e;" data-width="32" data-height="32"></span>
            </a>
          </div>
        </div>
        <ul>
          <% category_products.forEach(element => { %>
            <a href=<%= element.url %>>
            <li class="py-2 border-solid border-2 rounded-md my-4 px-2 text-brown"><%= element.name %></li>
            </a>
          <% }) %>
        </ul>
        <% if (category_products.length === 0) { %>
          <p>This category has no products</p>
        <% } %>
      </div>
      </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>